$HTTP["host"] == "domain.name" {
#  $HTTP["remoteip"] !~ "^255\.255\.255\.0$" {
#    url.access-deny = ("")
#    }
  server.document-root = "./Example/htdocs"
  url.rewrite-once = (
    "^/([^\.]+)?([\?\#].*)?$" => "/dispatch.fcgi/$1$2",
    )
  fastcgi.server = ( "/dispatch.fcgi" => ((
    "socket"   => "./Example/tmp/fcgi.socket",
    "bin-path" => "./Example/htdocs/dispatch.fcgi",
    "max-procs" => 1,
#    "idle-timeout" => 10
    ))
  )
}
