LoadModule perl_module modules/mod_perl.so

<VirtualHost *:80>
  ServerName  hostname.example.com
  DocumentRoot ./Example/htdocs

  PerlOptions  +Parent
  PerlSwitches -I./Example/lib
  PerlModule   mod_perl2
  PerlModule   Example

  <LocationMatch "^/([^\.]+)?$">
   SetHandler  perl-script
   PerlHandler Example
  </LocationMatch>

</VirtualHost>
#
# When proxy such as Pound is put on frontend, it is likely to need it.
#
# * The reference ahead. -> http://stderr.net/apache/rpaf/ 
#
# LoadModule rpaf_module modules/mod_rpaf-X.X.so
# RPAFenable On
# RPAFsethostname Off
# RPAFproxy_ips 255.255.255.255
